{#
    This file is part of the Language Selector bundle.

    (c) Beñat Espiña <benatespina@gmail.com>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <title>{{ 'title'|trans }}</title>
</head>
<body>
<ul class="language-selector">
    <li>
        <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">
            {{ 'languages.english'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'es'})) }}">
            {{ 'languages.spanish'|trans }}
        </a>
    </li>
</ul>

<div class="locale-resolver">
    {{ 'your_current_locale_is'|trans }} "<strong>{{ app.request.locale }}</strong>"
</div>


<ul class="links">
    <li>
        <a href="{{ path('home') }}">{{ 'links.homepage'|trans }}</a>
    </li>
    <li>
        <a href="{{ path('page', {'slug': 'slugs.contact'|trans}) }}">{{ 'links.contact'|trans }}</a>
    </li>
    <li>
        <a href="{{ path('page', {'slug': 'slugs.about_us'|trans}) }}">{{ 'links.about_us'|trans }}</a>
    </li>
</ul>

<h1>{{ page.title }}</h1>
</body>
</html>
